
<%- include ('partials/header.ejs'); %>

<body>
    <%- include ('partials/navbar.ejs'); %>

    <div class="container">

        <hr>
        <h1><%= thisask.title %></h1>
        <p><%= thisask.description %></p>
        <hr>
        <form method="POST" action="/answer">
            <h3>Responda</h3>
            <label>Reposta: </label>
            <textarea placeholder="Digite sua resposta." class="form-control" name="body"></textarea>
            <input type="hidden" name="askid" value="<%= thisask.id %>">
            <br>
            <button type="submit" class="btn btn-success">Responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <% answers.forEach(answer => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%= answer.body %></p>
                </div>
            </div>
        <% }) %>
    </div>

</body>

<%- include ('partials/footer.ejs'); %>